#redis
REDIS_HOST=redis

#services url
NGINX_URL=http://nginx
PROM_URL=http://prometheus:9090
SPX_TRIGGER_URL=http://spx-trigger:8081

#slack
SLACK_WEBHOOK=https://hooks.slack.com/services/XXXXX/XXXXX/XXXXX
